@use "@assets/scss/config/variables" as var;

.video_chat {
  position: relative;
  max-width: 1200px;
  max-height: 720px;
  margin: 25px auto;

  .local_video,
  .local_cameraoff,
  .remote_video,
  .remote_standby {
    position: absolute;
    border-radius: 10px;
    background: var.$BLACK;
    object-fit: cover;
  }

  .local_video,
  .local_cameraoff {
    z-index: 2;
    top: 20px;
    right: 20px;
    width: 20%;
    height: 20%;
    border: 2px solid var.$GRAY_800;
  }

  .remote_video,
  .remote_standby {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .remote_video {
    z-index: 0;
  }

  .remote_standby {
    z-index: 1;
  }

  .mute_icon {
    position: absolute;
    z-index: 3;
    top: 32px;
    right: 32px;
  }

  .controls {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 100%;
  }
}
